.result,
.error {
   font-size: 16px;
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 20px;
}

.error {
   color: #e4584c;
}

.result {
   color: #666ee8;
}

.StripeElement {
   display: block;
   margin: 10px 0 20px 0;
   max-width: 550px;
   padding: 14px 14px;
   border: 2px solid #e2e8f0;
   border-radius: 5px;
   
   background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.loading {
   height: 41.6px;
   opacity: 0.6;
}
